services:
  app:
    image: node:24-alpine
    working_dir: /app
    ports:
      - '10001:10001'
    env_file:
      - ./apps/api/.env.dev
    volumes:
      - ./apps/api:/app
      - ./storage/uploads:/app/uploads
      - ./storage/logs:/app/logs
      - app_node_modules:/app/node_modules
    command: >
      sh -c "if [ ! -d node_modules ]; then npm install --no-package-lock; fi; CHOKIDAR_USEPOLLING=true npm run start:dev"
    depends_on:
      db:
        condition: service_healthy

  web:
    image: node:24-alpine
    working_dir: /app
    ports:
      - '10002:10002'
    volumes:
      - ./apps/web:/app
      - web_node_modules:/app/node_modules
    command: >
      sh -c "if [ ! -d node_modules ]; then npm install --no-package-lock; fi; CHOKIDAR_USEPOLLING=true npm run dev -- --host 0.0.0.0"

  db:
    image: postgres:18.1-alpine
    ports:
      - '10003:5432'
    env_file:
      - ./apps/api/.env.dev
    volumes:
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U $$POSTGRES_USER -p $$DB_PORT']
      interval: 5s
      timeout: 5s
      retries: 5

  pgadmin:
    image: dpage/pgadmin4:9.11
    ports:
      - '10004:80'
    env_file:
      - ./apps/api/.env.dev
    entrypoint: ['/pgadmin-entrypoint.sh']
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - pgadmin_data:/var/lib/pgadmin
      - ./pgadmin/servers.json:/pgadmin4/servers.template.json:ro
      - ./pgadmin/entrypoint.sh:/pgadmin-entrypoint.sh:ro

volumes:
  app_node_modules:
  web_node_modules:
  db_data:
  pgadmin_data:
