services:
  app:
    build: ./apps/api
    ports:
      - '10001:10001'
    env_file:
      - ./apps/api/.env
    volumes:
      - ./storage/uploads:/app/uploads
      - ./storage/logs:/app/logs
    depends_on:
      db:
        condition: service_healthy

  web:
    build: ./apps/web
    ports:
      - '10002:80'
    depends_on:
      - app

  db:
    image: postgres:18.1-alpine
    ports:
      - '10003:5432'
    env_file:
      - ./apps/api/.env
    volumes:
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U $$POSTGRES_USER -p 5432']
      interval: 5s
      timeout: 5s
      retries: 5

  pgadmin:
    image: dpage/pgadmin4:9.11
    ports:
      - '10004:80'
    env_file:
      - ./apps/api/.env
    entrypoint: ['/pgadmin-entrypoint.sh']
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - pgadmin_data:/var/lib/pgadmin
      - ./pgadmin/servers.json:/pgadmin4/servers.template.json:ro
      - ./pgadmin/entrypoint.sh:/pgadmin-entrypoint.sh:ro

volumes:
  db_data:
  pgadmin_data:
